body{
    padding-top: 1rem;
}
.my-row{
    background-color: #d8d4d4;
}

.block-vote_remove,
.b-info-before__none{
    display: none;
}

.dropdown-menu{
    margin: 0;
}

.navbar-expand-md .navbar-nav .nav-link{
    /*padding-left: 1.5rem;*/
    padding-right: 1.5rem;
}


/* Rating */
.rating-area {
    overflow: hidden;
    margin: 0 auto;
    /*width: 265px;*/
}
.rating-area:not(:checked) > input {
    display: none;
}
.rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 50px;
    line-height: 50px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
    content: '★';
}
.rating-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
    position: relative;
}
/* Rating **/


#select3_ajax{
    width: 350px;
    height: 36px;
}

.select-group-user{
    display: none;
}

#checkout-group-element:checked+.select-group-user{
    display: block;
    transition: 1s;
}

#checkout-group-element,
.checkout-group-element{
    cursor: pointer;
    border-bottom: 1px dotted #005cbf;
}

.checkout-group-element:hover{
    border-bottom: 1px dotted #4dc0b5;
}

#checkout-group-element:checked{
    border-bottom: 1px solid #007bff;
}

.circle{
    background: #c82333;
    border: 1px solid #c82333;
    border-radius: 50px;
    height: 20px;
    display: inline-flex;
    width: 20px;
    align-items: center;
    justify-content: center;
}

.circle span{
    color: #fff;
    font-size: 10px;
    font-style: normal;
}

.row.read{
    opacity: 0.5!important;
}

.menu-item-text{
    padding-left: 10px;
}

body.chat main,
body.chat main .container,
body.chat main .container>.row,
body.chat main .container>.row>div,
body.chat main .container>.row>div>.card{
    max-height: 100vh;
}
