<template>
    <div class="chat-app">
        <Conversation :chat="chat" :messages="this.messages" @new="saveNewMessage" />
        <ChatsList :chats="chats" @selected="startConversationWith" />
    </div>
</template>

<script>
    import Conversation from "./Conversation.vue";
    import ChatsList from "./ChatsList.vue";
    export default {
        props: {
            user: {
                type: Object,
                required: true
            }
        },
        data(){
            return {
                selectedContact: null,
                messages: {
                    type: Array,
                    default:[]
                },
                chats: {},
                chat: {},
                selectedChatId: Number,
            }
        },
        created() {
            Echo.channel('messages')
                .listen('NewMessage', (e) => {
                    this.handleIncoming(e.message);
                });
        },
        mounted() {
            axios.get('/chats')
                .then( (response) => {
                    this.chats = JSON.parse(JSON.stringify(response.data));
                    this.buildingChannel(this.chats);
                });
        },
        methods:{
            buildingChannel(chats){
                chats = JSON.parse(JSON.stringify(chats));
                for(let chat in chats ) {
                    Echo.channel('lr_messages' + chats[chat].chat_id)
                        .listen('NewMessage', (e) => {
                            if(e.message.chat_id === this.selectedChatId){
                                let d = new Date(e.message.created_at);
                                let numMonth = Number(d.getMonth()) + 1;
                                let created_at = d.getFullYear()
                                    +'-'+ numMonth
                                    +'-'+  d.getDate()
                                    +' '+  d.getHours()
                                    +':'+  d.getMinutes()
                                    +':'+  d.getSeconds()
                                ;
                                e.message.created_at = created_at;
                                //console.log('e.message: ', e.message);
                                this.readMessagesByChat(e.message.chat_id);
                                this.handleIncoming(e.message);
                            }else{
                                for (let c in this.chats){
                                    if(this.chats[c].chat_id === e.message.chat_id){
                                        this.chats[c].message_read = 0;
                                    }
                                }
                            }
                        });
                }
            },
            readMessagesByChat(chat_id){
                axios.post('/conversation/read', {
                    chat_id: chat_id,
                })
                .then();
            },
            startConversationWith(chat){
                this.chat = chat;
                this.selectedChatId = chat.chat_id;
                axios.get(`/conversation/${chat.chat_id}`)
                    .then((response) => {
                        //let data = Object.assign({}, response.data);
                        this.messages = response.data ?? [];
                        // response.data ??
                        // this.messages = [];
                        this.selectedContact = response.chat_id;
                    });
            },
            saveNewMessage(message){
                this.messages.push(message);
            },
            handleIncoming(message){
                this.saveNewMessage(message);
            },
        },
        components: {Conversation, ChatsList}
    }
</script>

<style lang="scss" scoped >
.chat-app{
    display: flex;
}
</style>
