<template>
    <div class="chats-list">
        <v-popup
            v-if="isPopupVisible"
            @closePopup="closePopup"
        />

        <ul>
            <li class="create-chat justify-content-center align-items-center"><a href="#" class="btn btn-primary" @click="showPopup"><i class="fas fa-plus-circle"></i> Создать чат</a> </li>
            <li v-for="(chat, index) in chats" :key="index"
                @click="selectChat( index, chat)"
                :class="{'selected': index == selected}">
                <div class="avatar new-message" v-if="chat.message_read == 0">
                    <i class="fas fa-mail-bulk fa-2x"></i>
                </div>
                <div class="avatar" v-else>
                    <img src="/assests/icon/profile-male.png" />
                </div>
                <div class="chat">
                    <p class="nic"><span class="user_nic" v-for="(u, i) in chat.user" > {{ u.nic }}</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    import vPopup from './popup/v-popup';
    export default {
        components: {
            vPopup
        },
        props: {
            chats: {
                type: Object,
                default:[]
            }
        },
        data() {
            return {
                selected: 0,
                isPopupVisible: false,
            }
        },
        methods:{
            selectChat(index, chat){
                this.selected = index;
                chat.message_read = 1;
                this.$emit('selected', chat);
            },
            showPopup() {
                this.isPopupVisible = true;
            },
            closePopup(){
                this.isPopupVisible = false;
            },
        },
        computed: {
        },
    }
</script>

<style scoped lang="scss">
    .chats-list {
        flex: 2;
        max-height: 600px;
        overflow: scroll;
        border-left: 1px solid #a6a6a6;

        ul{
            list-style-type: none;
            padding-left: 0;

            li{
                display: flex;
                padding: 2px;
                border-bottom: 1px solid #aaa;
                height: 80px;
                position: relative;
                cursor: pointer;

                &.selected{
                    background: rgba(157, 166, 194, 0.8);
                }

                .avatar{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        margin: 0 auto;
                    }
                }
                .new-message{
                    color:#1e7e34;
                }

                .chat{
                    flex: 3;
                    font-size: 15px;
                    overflow: hidden;

                    p{
                        margin: 0;
                        font-weight: bold;

                        .user_nic:after{
                            display: inline-block;
                            content: ', ';
                        }
                        .user_nic:last-child:after{
                            content: '';
                        }
                    }

                }


                .create-chat{

                }


            }

        }

    }
</style>
