<template>
    <div class="contacts-list">
        <ul>
            <li v-for="(contact, index) in contacts" :key="contact.id"
                @click="selectContact( index, contact)"
                :class="{'selected': index == selected}">
                <div class="avatar">
                    <img v-if="contact.profile_image" :src="contact.profile_image" :alt="contact.nic" />
                    <img v-if="!contact.profile_image" src="/assests/icon/profile-male.png" />
                </div>
                <div class="contact">
                    <p class="nic"> {{ contact.nic }} </p>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: {
            contacts: {
                type: Array,
                default:[]
            }
        },
        data() {
            return {
                selected: 0
            }
        },
        methods:{
            selectContact(index, contact){
                this.selected = index;
                this.$emit('selected', contact);
            }
        }
    }
</script>

<style scoped lang="scss">
    .contacts-list {
        flex: 2;
        max-height: 600px;
        overflow: scroll;
        border-left: 1px solid #a6a6a6;

        ul{
            list-style-type: none;
            padding-left: 0;

            li{
                display: flex;
                padding: 2px;
                border-bottom: 1px solid #aaa;
                height: 80px;
                position: relative;
                cursor: pointer;

                &.selected{
                    background: #f5f5f5;
                }

                .avatar{
                    flex: 1;
                    display: flex;
                    align-items: center;

                    img{
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        margin: 0 auto;
                    }
                }

                .contact{
                    flex: 3;
                    font-size: 15px;
                    overflow: hidden;

                    p{
                        margin: 0;
                        font-weight: bold;
                    }

                }



            }

        }

    }
</style>
