<template>
    <div class="conversation">
        <h1>
            <span v-if="chat.chat_id" class="title_nics">
                <span class="item_nic" v-for="u in chat.user">{{ u.nic }}</span>
            </span>
            <span v-else>Выберите чат</span>
        </h1>
        <MessagesFeed :chat="chat" :messages="messages" />
        <MessageComposer v-if="chat.chat_id" @send="sendMessage" :chatId="chat.chat_id" />
    </div>
</template>

<script>
    import MessagesFeed from "./MessagesFeed";
    import MessageComposer from "./MessageComposer";

    export default {
        props: {
            chat: {
                type: Object
            },

            messages: {
                type: Array,
                default: [],
            }
        },
        methods: {
            sendMessage: function (text){
                if(!this.chat) {
                    return;
                }
                axios.post('/conversation/send',{
                    text: text,
                    chat_id: this.chat.chat_id
                }).then((response) => {
                    if(response.data.success == false){
                        alert(response.data.message);
                    } else {
                        this.$emit('new', response.data);
                    }
                })
            },
        },

        components: {MessagesFeed, MessageComposer}
    }
</script>

<style scoped lang="scss">
    .conversation {
        flex: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1{
            font-size: 20px;
            padding: 10px;
            margin: 0;
            border-bottom: 1px dashed lightgray;

            .title_nics{
                .item_nic{
                    padding: 0 8px;

                    &:after{
                        display: inline-block;
                        content: ',';
                        width: 3px;
                        height: 3px;
                    }
                    &:last-child:after{
                        content: '.';
                    }
                }

            }

        }

    }
</style>
