<template>
    <div class="feed" ref="feed">
        <ul v-if="messages && messages[0]">
            <li v-for="message in messages" :class="`message${message.user_id == message.myId ? '  sent ': ' received '}`">
                <div class="toast" >
                    <div class="toast-header">
                        <strong class="mr-auto">{{ message.user_nic }}</strong>
                        <small>{{message.created_at}}</small>
                    </div>
                    <div class="toast-body">
                        {{ message.text }}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props:{
        contact: {
            type: Object,
        },
        messages:{
            type: Array,
            default: [],
            required: true,
        }
    },
    methods: {
        scrollToBottom(){
            setTimeout(() =>{
                this.$refs.feed.scrollTop = this.$refs.feed.scrollHeight - this.$refs.feed.clientHeight;
                }, 50);
        },
    },
    watch: {
        contact(contact){
            this.scrollToBottom();
        },
        messages(messages){
            this.scrollToBottom();
        }
    }

}
</script>

<style scoped lang="scss">
.feed{
    background: #f0f0f0;
    height: 100%;
    max-height: 470px;
    overflow: scroll;

    ul{
        list-style-type: none;
        padding: 5px;

        li{
            display: flex;
            &.sent{
                justify-content: right;
            }
            &.received{
                justify-content: left;
                strong{
                    color:#0a77e9;
                }
            }

            .message{
                margin: 10px 0;
                width: 100%;

                .text{
                    max-width: 200px;
                    border-radius: 5px;
                    padding: 12px;
                    display: inline-block;
                }

            }

            .toast{
                opacity: 1;
                flex-basis: 50%;
            }
        }

    }

}
</style>
