<template>
    <div class="composer">
        <textarea v-model="message" @keydown.enter="send" placeholder="Сообщение..."></textarea>
        <div class="message-btn">
            <button class="btn btn-primary btn-sm pull-right" v-on:click="send"><i class="fab fa-telegram-plane"></i> Отправить</button>
            <button v-on:click="quit" class="quit-btn">Выйти из чата</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return{
            message: '',
            chatId: '',
        };
    },

    methods: {
        send(e){
            e.preventDefault()
            if(this.message==''){
                return;
            }
            this.$emit('send', this.message);
            this.message = '';
        },
        quit(e){
            e.preventDefault();
            axios.post('/conversation/quit',{
                chat_id: this.$attrs.chatId
            }).then((response) => {
                window.location.reload();
                //this.$emit('new', response.data);
            });
        }
    }
}
</script>

<style scoped lang="scss">
.composer textarea{
    width: 96%;
    margin: 10px;
    resize: none;
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 6px;
}
.message-btn{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 10px 10px;
}
.quit-btn{
    border: none;
    background: none;
    border-bottom: 1px dotted;
    padding: 0;
    color: #555;

    &:hover{
        color:#111;
    }
}
</style>
