<template>
    <div class="v-popup">
        <div class="modal popup-search" tabindex="-1" role="dialog" style="display: block">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Создание чата</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" @click="closePopup">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <multiselect
                                slot="tag"
                                v-model="value"
                                label="text"
                                track-by="id"
                                placeholder="Найдите и добавьте автора"
                                noOptions="Ничего не найдено"
                                :multiple="true"
                                :hideSelected=true
                                :searchable=true
                                :options="options"
                                @search-change="searchContact"
                                :close-on-select=true
                                :clear-on-select=true
                            >
                            </multiselect>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Сообщение:</label>
                            <textarea class="form-control" id="message-text" v-model.trim="message" label="message"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="createChat">Создать чат</button>
                        <button type="button" class="btn btn-secondary" @click="closePopup" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
export default {
    name: "v-popup.vue",
    data () {
        return {
            value: [],
            options: [],
            message:'',
        }
    },
    methods: {
        closePopup(){
            this.$emit('closePopup');
        },

        searchContact(term){
            axios.get('/authors/find/search?_type=query&q=' + term )
                .then(response => (
                    this.options = response.data.results ?? []
                ));
        },
        createChat(){
            if(this.message == ''){
                alert('Сообщение обязательно');
                return;
            }
            let jsonOb = {'value': this.value, 'message': this.message};
            axios({
               method: 'post',
               url: '/createchat',
               params: {},
               data: jsonOb
            }).then(response => {
                //this.$emit('closePopup');
                if(response.status == 200){
                    window.location.reload();
                }

            }) ;
        }
    },
    mounted(){
        // axios.get('/contacts/')
        //     .then(response => (this.options = response.data));
    },
    components: { Multiselect },

}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
.v-popup{
    padding: 16px;
    position: absolute;
    top:50px;
    right: 0;
    left: 0;
    width: 300px;
    background: #fff;
    box-shadow: 0 0 17px 0 #e7e7e7;

    &__header, &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__footer{

    }
}
</style>

